body {
  background: #7489AA;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

#canvas {
  background-image: url("../src/assets/grass.png");
  background-size: 50px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#board {
  background: #aad400;
  background-size: 50px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.tip-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.transparent-input, .transparent-input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border:none;
  box-shadow: none;
  color: white;
}

.transparent-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.ingredients {
  background-color: #232323;
}

.composed-recipe {
  background-color: #343434;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
}

.recipe-header {
  margin-bottom: 5px;
}

.recipes {
  background-color: #878787;
}

.recipe-ingredient {
  padding-left: 10px;
  margin-top: 2px;
}

.demoCard {
  margin: 10px;
  Width: 500px;
  height: 80px;
}

.demoSpan {
  padding-top: 10px;
  display: block;
}
